Flask==2.3.3
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-WTF==1.1.1
WTForms==3.0.1
Werkzeug==2.3.7
APScheduler==3.10.4
email-validator==2.0.0
python-dotenv==1.0.0
WTForms[email]==3.0.1
pytest==7.4.2
pytest-flask==1.2.0
colorlog==6.7.0
gunicorn==21.2.0
requests==2.31.0
pathlib2==2.3.7; python_version < "3.4"